* {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    background: url(img2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: relative;
    width: 100%;
    top: 0;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.nav a {
    position: relative;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 2px 8px;
    transition: 0.5s;
    transition-property: background;
}

.nav a:not(:last-child) {
    margin-right: 30px;
}

.nav a:hover {
    color: rgba(0, 0, 0, 0.541);
}

.content {
    max-width: 500px;
    margin: 130px 100px;
}

.content h2 {
    color: #333;
    letter-spacing: 1px;
    width: 50vw;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 35px;
    text-transform: uppercase;
}

.content h2 span {
    color: #fff;
    font-size: 30px;
    width: 40vw;
    font-weight: 700;
}

.content p {
    color: #000;
    font-size: 15px;
    font-weight: 500px;
    margin-bottom: 30px;
    width: 50vw;
    letter-spacing: 0.5px;
}

.socials {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: auto;
    margin-bottom: 30px;
}

.socials a {
    color:#333;
    font-size: 22.5px;
}

.socials a:hover {
    transform: scale(1.25);
}

label {
    display: none;
    margin-top: 26px;
}

input {
    display: none;
}

#check {
    z-index: 3;
}

/* Responsive Design */

@media (max-width: 960px) {
    .nav {
        display: none;
    }

    label {
        display: block;
        font-size: 30px;
        cursor: pointer;
        transition: 0.3s
    }

    label:hover {
        color: rgba(0, 0, 0, 0.493);
    }

    label .close-btn {
        display: none;
    }

    #check:checked ~ header .nav {
        z-index: 2; 
        background:rgba(32, 107, 191, 0.75);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }

    #check:checked ~ header .nav a {
        font-weight: 900;
        margin-right: 0;
        margin-bottom: 30px;
        letter-spacing: 1px;
    }

    #check:checked ~ header label .menu-btn {
        display: none;
    }

    #check:checked ~ header label .close-btn {
        z-index: 2;
        display: block;
        position: fixed;
    }

    label .menu-btn {
        position: absolute;
    }

    header .logo {
        position: absolute;
    }


}